<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%- stylesheetLinkTag('application') %>
		<%- javascriptIncludeTag('http://code.jquery.com/jquery-1.10.1.min.js', 'bootstrap.min', 'rails', 'application') %>
		<%- csrfMetaTag() %>
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body style="padding-top: 70px;">
		<header class="navbar navbar-default navbar-fixed-top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">念</a>
				</div>
				<nav class="collapse navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if(currentUser) { %>
							<li><%- linkTo('登出', pathTo.logout) %></li>
						<% } else { %>
							<li><%- linkTo('登录', pathTo.login) %></li>
						<% } %>
					</ul>
				</nav>
			</div>
		</header>

		<div class="container">
			<% var flash = request.flash('info').pop(); if (flash) { %>
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert">×</a>
					<%- flash %>
				</div>
			<% } %>

			<% flash = request.flash('error').pop(); if (flash) { %>
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					<%- flash %>
				</div>
			<% }; %>

			<%- body %>
		</div>

		<footer class="footer" role="contentinfo">
			<div class="container">
				<div class="social">
					<ul class="social-buttons">
						<li class="follow-btn">
							<a href="https://twitter.com/msyesyan" class="twitter-follow-button" data-show-count="true" data-lang="en"></a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</li>
						<li class="tweet-btn">
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="msyesyan" data-text="a jekyll blog theme based on bootstrap-3.0.2"></a>
						</li>
					</ul>
				</div>
				<p>&copy; msyesyan 2013 
					with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
					and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
				</p>
			</div>
		</footer>
	</body>
</html>
<%- contentFor('javascripts') %>
